<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   Named Entity Tagging
  </title>
 </head>
 <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
  <figure style="margin-bottom: 6rem">
   <div class="entities" style="line-height: 2.5; direction: ltr">
    Elite-level
    <mark class="entity" style="background: cornflowerblue; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Counter-Strike&amp;GAME'%}">
      Counter-Strike
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      GAME
     </span>
    </mark>
    will return to the Danish city of Odense, which since 2017 has hosted the LAN Finals of the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='ESL Pro League&amp;TOURN'%}">
      ESL Pro League
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    seasons that have been held in the latter half of the year. The group stages will be held at the ODINCON expo from December 3-5, while the playoffs will be played at the Jyske Bank Arena, formerly known as Sparekassen Fyn Arena, during the last three days of the event. Sixteen teams, hailing from three regions (Europe, the
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Americas&amp;ORG'%}">
      Americas
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    and Asia-Pacific) will be duking it out over the week for the lion's share of a $600,000 prize pool. The contestants have been drawn into two double-elimination groups, featuring best-of-three series after the first round of matches. The group winners will go straight to the semi-finals, while the second and third-placed sides will advance to the first round of the playoffs, which will culminate with the best-of-five grand final on Sunday. The winner of the tournament will earn $250,000 and a spot at IEM Katowice 2020, joining
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Astralis&amp;ORG'%}">
      Astralis
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    and fnatic on the team list for the event. In case one of these two teams come out victorious in Odense, the spot reserved for the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Pro&amp;TOURN'%}">
      Pro
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    League champion will instead go to the best available team in the
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='ESL World Ranking&amp;TOURN'%}">
      ESL World Ranking
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    , according to
    <mark class="entity" style="background: gold; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Michal &quot;Carmac&quot; Blicharz&amp;PLAYER'%}">
      Michal "Carmac" Blicharz
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      PLAYER
     </span>
    </mark>
    , VP of
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Pro Gaming&amp;ORG'%}">
      Pro Gaming
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    at
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='ESL&amp;TOURN'%}">
      ESL
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    .
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='The ESL Pro League Season 10 Finals&amp;TOURN'%}">
      The ESL Pro League Season 10 Finals
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    are part of the Intel Grand Slam Season 3.
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Liquid&amp;ORG'%}">
      Liquid
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    ,
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Evil Geniuses&amp;ORG'%}">
      Evil Geniuses
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    ,
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='fnatic&amp;ORG'%}">
      fnatic
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    and
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Astralis&amp;ORG'%}">
      Astralis
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    all have one tournament victory to their name this season, which features an updated set of rules in an effort to increase the difficulty of winning the $1 million prize. O. J. Borg returns to host his fourth
    <mark class="entity" style="background: aqua; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Pro League Finals&amp;TOURN'%}">
      Pro League Finals
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      TOURN
     </span>
    </mark>
    , while
    <mark class="entity" style="background: gold; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Tres &quot;stunna&amp;PLAYER'%}">
      Tres "stunna
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      PLAYER
     </span>
    </mark>
    " Saranthus will be in charge of the desk, where he will be joined by a trio of analysts, including a newcomer in
    <mark class="entity" style="background: gold; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='David &quot;DAVEY&quot; Stafford&amp;PLAYER'%}">
      David "DAVEY" Stafford
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      PLAYER
     </span>
    </mark>
    . The Canadian, who attended the MLG Columbus Major with
    <mark class="entity" style="background: limegreen; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='Splyce&amp;ORG'%}">
      Splyce
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      ORG
     </span>
    </mark>
    , is currently playing for Peeker's Advantage and is the host of a podcast with the same name. Two casting pairs will provide live commentary on the matches, while
    <mark class="entity" style="background: gold; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">
     <a href="{% url 'linking' entity='James &quot;BanKs&quot; Banks&amp;PLAYER'%}">
      James "BanKs" Banks
     </a>
     <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">
      PLAYER
     </span>
    </mark>
    will be on the sidelines creating content throughout the event.
   </div>
  </figure>
 </body>
</html>